<form action="/forgot" method="POST">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="username">
    </div>
    <button type="submit">Get Password</button>
</form>