<%- include('header') %>
<style>
  
  div{
    margin-top: 25%;
    margin-left: 45%;
    
  }
  body{
    background-image: url('https://st2.depositphotos.com/2501025/5406/i/600/depositphotos_54065895-stock-photo-hacker.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  a{
    color:blueviolet;
  }
</style>
<!-- <img src="" alt="Image"> -->
<body>
<div class="container-sm">
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>

    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
</div>
</body>


