<%- include('header') %>
<style>
  a{
    margin-top: 0%;
    margin-left: 40%;
  }
</style>
<a class="btn btn-light btn-lg" href="/" role="button">HOMEPAGE</a>
<h2>Your password <p style="color:blue"><%= pw %></p></h2><hr/>
<h2>Your Password stored in our database (in encrypted format) is <p style="color:blue"><%= hp %></p></h2>
 