<div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i> 
      <p>
        <%= pw %>
      </p> 
      <a class="btn btn-dark btn-lg" href="/login" role="button">LOGIN</a>
    </div>
  </div>
  