<%- include('header') %>
<style>
  
  div{
    margin-top: 20%;
    margin-left: 45%;
  }
</style>
<div class="container-sm">
    <a class="btn btn-light btn-lg" href="/" role="button">HOMEPAGE</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">LOGIN</a>
</div>
  

