<div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i> 
      <p>please register to get your password</p> 
      <a class="btn btn-light btn-lg" href="/" role="button">HOMEPAGE</a>
    </div>
  </div>
  