<%- include('header') %>
<style>
  h1{
    margin-top: 5%;
    text-align: center;
    color:blueviolet;
  }
  a{
    margin-left: 45%;
    margin-top: 3%;
  }
</style>
    <div class="container-sm"> 
      <h1>Invalid Password</h1> 
      <a class="btn btn-light btn-lg" href="/" role="button">HOMEPAGE</a>
    </div>
  